<div id="<%= dom_id data_session %>">
  <p>
    <strong>Title:</strong>
    <%= data_session.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= data_session.subtitle %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= data_session.image %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= data_session.body %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= data_session.keywords %>
  </p>

</div>
